nbproject/
build/
*.o
*.gch
*.a
callgrind.out.*

stunclient
stunserver
stuntestcode

stunclient.exe
stunserver.exe
stuntestcode.exe

.vscode/
CMakeCache.txt
CMakeFiles/
build.ninja
cmake_install.cmake
common/cmake_install.cmake
networkutils/cmake_install.cmake
rules.ninja
stuncore/cmake_install.cmake